<html>
  <head>
    <title>What's Playing?</title>
    <script src="/js/jquery-2.1.0.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/jquery.smooth-scroll.js"></script>
    <script src="/js/globalize.js"></script>
    <script src="/js/dx.chartjs.js"></script>
    <script src="/js/animate.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- <script src="/js/gmaps.js"></script> -->
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="/js/sonus_sc.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
  </head>

  <body>
<div id="fb-root"></div>
      <script>
        var userId;
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1459115077651199',
            status     : true,
            xfbml      : true
          });
          

         
         (function(d, s, id) {
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) return;
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1459115077651199";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
         
         FB.getLoginStatus(function(response) {
           if (response.status === 'connected') {
            
           } else if (response.status === 'not_authorized') {
               FB.login();
           } else {
               FB.login();
           }
          });
          
         
         FB.Event.subscribe('auth.authResponseChange', function(response) {
             if (response.status === 'connected') {
               console.log('Logged in');
               FB.api('/me?fields=id', function(response) {
                   userId=response.id;
               });
             } else {
               FB.login();
             }
           });
       };
         
      </script>

    <div class="container">
        
      <div class='form-container'>
        <p>What's playing around me?</p>
        <form id="form">
            
          <input id="query" type="text" placeholder="Enter song name">
          <input id="searchButton" type="button" value="Find">
          <img src="/imgs/spinner.gif" id="spinner" style="display:none;">
        </form>
        <img src="/imgs/logo.png">
        <table id="resultTable"></table>
      </div>
      <div class="chart1-container">
          <div id="widget" style="width:100%;height: 450px;"></div>
      </div>
    </div>
  </body>
</html>
