<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTML74DBnSbEOJSnThtpcF-F188TTd3DA&sensor=false&libraries=visualization">
    </script>

    <script type="text/javascript">
        /* GLOBAL VARS */
        var map;
        var heatmaps = [];
        var markers = [];

        var taxiData = [
            new google.maps.LatLng(37.782551, -122.445368),
            new google.maps.LatLng(37.782745, -122.444586),
            new google.maps.LatLng(37.782842, -122.443688),
            new google.maps.LatLng(37.782919, -122.442815),
            new google.maps.LatLng(37.782992, -122.442112)
        ];

        var taxiData2 = [
            new google.maps.LatLng(37.757676, -122.405118),
            new google.maps.LatLng(37.757039, -122.404346),
            new google.maps.LatLng(37.756335, -122.403719),
            new google.maps.LatLng(37.755503, -122.403406),
            new google.maps.LatLng(37.754665, -122.403242),
            new google.maps.LatLng(37.753837, -122.403172),
            new google.maps.LatLng(37.752986, -122.403112),
            new google.maps.LatLng(37.751266, -122.403355)
        ];

        function initialize() {
            var mapOptions = {
                zoom: 13,
                center: new google.maps.LatLng(37.774546, -122.433523),
                mapTypeId: google.maps.MapTypeId.SATELLITE
            };

            map = new google.maps.Map(
                document.getElementById('map-canvas'),
                mapOptions
            );

            heatmap = addHeatmap(map, taxiData, 0);
            heatmaps.push(heatmap);

            heatmap = addHeatmap(map, taxiData2, 1);
            heatmaps.push(heatmap);

            var pic = "http://i0.kym-cdn.com/photos/images/newsfeed/000/173/576/Wat8.jpg?1315930535";

            var coord = [37.782551, -122.445368];
            addMarker(coord, map, "", "", pic, 2);

            var coord = [37.751266, -122.403355];
            addMarker(coord, map, "", "", pic, 4);
        }

        /* HEATMAP FUNCTIONS */
        function addHeatmap(map, coordinates, index) {
            var gradient = heatmapGradient(index);
            var points = new google.maps.MVCArray(coordinates);
            var heatmap = new google.maps.visualization.HeatmapLayer({
                data: points
            });

            heatmap.setMap(map);
            heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
            heatmap.set('radius', heatmap.get('radius') ? null : 40);

            return heatmap;
        }

        function removeHeatmap(target) {
            var i = 0;
            heatmaps.forEach(function(heatmap) {
                if (target === heatmap) {
                    heatmap.setMap(null);
                    heatmaps.splice(i, 1);
                }

                i++;
            });
        }

        function heatmapGradient(index) {
            switch(index) {
            case 0:
                /* RED -> YELLOW  */
                return [
                    'rgba(0, 255, 255, 0)',
                    'rgb(255, 255, 0)',
                    'rgb(255, 229, 0)',
                    'rgb(255, 204, 0)',
                    'rgb(255, 178, 0)',
                    'rgb(255, 153, 0)',
                    'rgb(255, 127, 0)',
                    'rgb(255, 102, 0)',
                    'rgb(255, 76, 0)',
                    'rgb(255, 51, 0)',
                    'rgb(255, 25, 0)',
                    'rgb(255, 0, 0)'
                ];

            case 1:
                /* PURPLE -> GREEN */
                return [
                    'rgba(0, 255, 255, 0)',
                    'rgb(51, 255, 0)',
                    'rgb(56, 235, 26)',
                    'rgb(61, 214, 51)',
                    'rgb(66, 194, 77)',
                    'rgb(71, 173, 102)',
                    'rgb(77, 153, 128)',
                    'rgb(82, 133, 153)',
                    'rgb(87, 112, 179)',
                    'rgb(92, 92, 204)',
                    'rgb(97, 71, 230)',
                    'rgb(102, 51, 255)'
                ];

            case 2:
                /* PINK -> LIGHT PINK */
                return [
                    'rgba(255, 255, 255, 0)',
                    'rgb(255, 204, 255)',
                    'rgb(255, 184, 255)',
                    'rgb(255, 163, 255)',
                    'rgb(255, 143, 255)',
                    'rgb(255, 122, 255)',
                    'rgb(255, 102, 255)',
                    'rgb(255, 82, 255)',
                    'rgb(255, 61, 255)',
                    'rgb(255, 41, 255)',
                    'rgb(255, 20, 255)',
                    'rgb(255, 0, 255)'
                ];

            case 3:
                /* BLUE -> SKY BLUE */
                return [
                    'rgba(0, 255, 255, 0)',
                    'rgb(204, 255, 255)',
                    'rgb(184, 230, 255)',
                    'rgb(163, 204, 255)',
                    'rgb(143, 179, 255)',
                    'rgb(122, 153, 255)',
                    'rgb(102, 128, 255)',
                    'rgb(82, 102, 255)',
                    'rgb(61, 77, 255)',
                    'rgb(41, 51, 255)',
                    'rgb(20, 26, 255)',
                    'rgb(0, 0, 255)'
                ]
            }
        }

        function toggleHeatmaps() {
            heatmaps.forEach(function(heatmap) {
                heatmap.setMap(heatmap.getMap() ? null : map);
            });
        }

        function changeRadius() {
            heatmaps.forEach(function(heatmap) {
                heatmap.set('radius', heatmap.get('radius') ? null : 60);
            });
        }

        function changeOpacity() {
            heatmaps.forEach(function(heatmap) {
                heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
            });
        }



        /* MARKER FUNCTIONS */
        function addMarker(coord, map, album, genre, image, index) {
            var info_window = new google.maps.InfoWindow({
                content:
                    "<img class='map-icon' src='"
                    + image
                    +  "' alt='image in infowindow'>"
            });

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(coord[0], coord[0]),
                map: map,
                title: album,
                icon: markerColor(index)
            });

            /* click listener */
            google.maps.event.addListener(marker, 'click', function() {
                /* open info window */
                info_window.open(map, marker);

                /* close after 5 seconds */
                setTimeout(function() { info_window.close() }, 5000);
            });

            /* add to markers list */
            markers.push(marker);
        }

        function removeMarker(target) {
            var i = 0;

            markers.forEach(function(marker) {
                if (target === marker) {
                    target.setMap(null);
                    markers.splice(i, 1);
                }

                i += 1;
            });
        }

        function toggleMarkers() {
            markers.forEach(function(marker) {
                marker.setMap(marker.getMap() ? null : map);
            });
        }

        function markerColor(index) {
            switch(index) {
            case 0:
                /* RED */
                return "http://maps.google.com/mapfiles/ms/icons/red-dot.png";

            case 1:
                /* PURPLE */
                return "http://maps.google.com/mapfiles/ms/icons/purple-dot.png";

            case 2:
                /* PINK */
                return "http://maps.google.com/mapfiles/ms/icons/pink-dot.png";

            case 3:
                /* BLUE */
                return "http://maps.google.com/mapfiles/ms/icons/blue-dot.png";
            }
        }

        /* MAIN */
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <!-- CSS -->
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map-canvas {
            height: 100%;
        }

        .map-icon {
            width: 100px;
        }
    </style>

    </head>
    <body>
        <!-- /container -->
        <div id="panel">
            <button onclick="toggleHeatmaps()">Toggle Heatmap</button>
            <button onclick="changeRadius()">Change radius</button>
            <button onclick="changeOpacity()">Change opacity</button>
            <button onclick="toggleMarkers()">Toggle Markers</button>
        </div>
        <div id="map-canvas"></div>
    </body>
</html>
